#card {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#card:hover {
    transform: scale(1.1);
}

.card_image{
    max-width: 400px;
    max-height: 250px;
}