<app-navbar></app-navbar>
<section id="team">
    <div style="width: 100%; height: 80px;"></div>

    <div class="member" style="background-color: #21466D">
        <a href="../../../assets/doc/cv/molnar-stefania.pdf">
            <img class="align-left" src="../../../assets/images/team/molnar-stefania.jpg">
        </a>
        <div class="align-right text">
            <h1>{{ 'team.molnar-stefania.name' | translate}}</h1>
            <h2>{{ 'team.molnar-stefania.description' | translate}}</h2>
        </div>
    </div>
    <div class="member" style="background-color: #21466D">
        <a href="../../../assets/doc/cv/molnar-csaba.pdf">
            <img class="align-right" src="../../../assets/images/team/molnar-csaba.jpg">
        </a>
        <div class="align-left text">
            <h1>{{ 'team.molnar-csaba.name' | translate}}</h1>
            <h2>{{ 'team.molnar-csaba.description' | translate}}</h2>
        </div>
    </div>
    <div class="member" style="background-color: #21466D">
        <a href="../../../assets/doc/cv/konya-ecaterina.pdf">
            <img class="align-left" src="../../../assets/images/team/placeholder.jpg">
        </a>
        <div class="align-right text">
            <h1>{{ 'team.konya-ecaterina.name' | translate}}</h1>
            <h2>{{ 'team.konya-ecaterina.description' | translate}}</h2>
        </div>
    </div>
    <div class="member" style="background-color: #21466D">
        <a href="../../../assets/doc/cv/ambrus-attila.pdf">
            <img class="align-right" src="../../../assets/images/team/placeholder.jpg">
        </a>
        <div class="align-left text">
            <h1>{{ 'team.ambrus-attila.name' | translate}}</h1>
            <h2>{{ 'team.ambrus-attila.description' | translate}}</h2>
        </div>
    </div>
    <div class="member" style="background-color: #21466D">
        <a href="../../../assets/doc/cv/cornel-maria.pdf">
            <img class="align-left" src="../../../assets/images/team/placeholder.jpg">
        </a>
        <div class="align-right text">
            <h1>{{ 'team.cornel-maria.name' | translate}}</h1>
            <h2>{{ 'team.cornel-maria.description' | translate}}</h2>
        </div>
    </div>
    <div class="member" style="background-color: #21466D">
        <a href="../../../assets/doc/cv/grancea-mihaela.pdf">
            <img class="align-right" src="../../../assets/images/team/placeholder.jpg">
        </a>
        <div class="align-left text">
            <h1>{{ 'team.grancea-mihaela.name' | translate}}</h1>
            <h2>{{ 'team.grancea-mihaela.description' | translate}}</h2>
        </div>
    </div>
</section>
<app-footer></app-footer>
