<section id="navbar">
    <nav class="navbar navbar-expand-md">
        <div [routerLink]="['/home']" class="circle-border">
            <img class="logo" src="assets/images/logo.png" alt="Website Logo"> 
        </div>

        <ul class="navbar-nav mr-auto">
            <a [routerLink]="['/home']" routerLinkActive="is-active">{{ 'menu.home' | translate }}</a>
            <a [routerLink]="['/team']" routerLinkActive="is-active">{{ 'menu.team' | translate }}</a>
            <a>{{ 'menu.activities' | translate }}</a>
            <a [routerLink]="['/brasov-press']" routerLinkActive="is-active">{{ 'menu.brasovPress' | translate }}</a>
            <a [routerLink]="['/sibiu-press']" routerLinkActive="is-active">{{ 'menu.sibiuPress' | translate }}</a>
            <a>{{ 'menu.raports' | translate }}</a>
        </ul>
    </nav>
</section>
