/*navbar width and bg-color controlled by typescript*/
.navbar{
  position: fixed;
  z-index: 100;

  height: 50px;

  width: 100%;
  white-space: nowrap;
  padding: 0 50px;
}

.navbar-nav{
  font-size: 16px;
  font-family: arialBlack, Gadget, sans-serif;

  /* center align the menu */
  margin: 0 auto;
}

/* Links */
.navbar-nav a{
/* 8px padding top + 8px padding bottom + 32px line-height = 48px */
  border: none;
  background: none;
  display: inline-block;
  padding-top: 7px;
  margin: 0 15px;
  text-decoration: none;
  text-align: left;
  color: white;

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.navbar-nav a:hover, .navbar-nav .active-link { 
  color: rgb(255, 187, 0) !important; 
  cursor:pointer;
}
/*hides outline when on focus*/
.navbar-nav:focus{
  outline: none;
}

.logo {
  transform: scale(1.3);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.logo:hover {
  transform: scale(1.6);
  cursor: pointer;
}

.toggler {
  border: none;
  padding-top: 5px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  background-color: rgb(110, 62, 22); 
}
/*hides outline when on focus*/
.navbar-toggler:focus {
  outline: none;
}

::ng-deep body .ui-inputtext {
  background-color: white !important;
  color: black !important;
}
/*
::ng-deep body .ui-autocomplete-panel {
  background-color: white !important;
}*/

/* Normal mode 
@media screen and (min-width: 768px){
  .navbar-nav a{
    line-height: initial;
  }
  .navbar-nav .pagemark {
    border-bottom: 2px solid;
    color: white;
    border-color: white;
    padding-bottom: 2px;
    -webkit-transition: color .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, border .2s ease-in-out;
    -o-transition: color .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, border .2s ease-in-out;
    transition: color .2s ease-in-out, border .2s ease-in-out;
  }
  .navbar-nav .pagemark:hover { 
    color: #4380BC !important; 
    border-color: #4380BC !important;
  }
}
/* Mobile mode 
@media screen and (min-width: 0px) and (max-width: 767px){
  .navbar-nav a{
    line-height: 25px;
  }
  .navbar-nav .pagemark {
    margin-left: -5px;
  }
}
*/