<!--<section id="navbar">
    <nav class="navbar navbar-expand-md">
        <div [routerLink]="['/home']" class="circle-border">
            <img class="logo" src="assets/images/logo.png" alt="Website Logo"> 
        </div>

        <ul class="navbar-nav mr-auto">
            <a [routerLink]="['/home']" routerLinkActive="is-active">{{ 'menu.home' | translate }}</a>
            <a [routerLink]="['/team']" routerLinkActive="is-active">{{ 'menu.team' | translate }}</a>
            <a>{{ 'menu.activities' | translate }}</a>
            <a [routerLink]="['/brasov-press']" routerLinkActive="is-active">{{ 'menu.brasovPress' | translate }}</a>
            <a [routerLink]="['/sibiu-press']" routerLinkActive="is-active">{{ 'menu.sibiuPress' | translate }}</a>
            <a>{{ 'menu.raports' | translate }}</a>
        </ul>
    </nav>
</section>
-->

<nav class="navbar navbar-expand-md" [ngStyle]="{'background-color': 'rgba(79,54,34,'+ (bgopacity) +')', 'width' : width}">
    <button class="navbar-toggler" (click)="toggleNavbar()" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler fa fa-bars"></span>
    </button>
  
    <div class="navbar-collapse" (click)="toggleNavbar()" [hidden]="collapse">
      <ul class="navbar-nav mr-auto">
           <img *ngIf="this.mobileMode === false" class="logo" src="assets/images/logo.png" alt="Website Logo" style="height: 30px; margin-right: 30px;">

            <a [routerLink]="['/home']" [ngx-scroll-to]="'#banner'" routerLinkActive="active-link">{{ 'navbar.home' | translate }}</a>
            <a [routerLink]="['/home']" [ngx-scroll-to]="'#about'">{{ 'navbar.about' | translate }}</a>
            <a [routerLink]="['/home']" [ngx-scroll-to]="'#team'">{{ 'navbar.team' | translate }}</a>
            <!--<a [routerLink]="['/raports']" routerLinkActive="active-link">{{ 'navbar.raports' | translate }}</a>-->
            <a [routerLink]="['/bv-press']" routerLinkActive="active-link">{{ 'navbar.brasovPress' | translate }}</a>
            <a [routerLink]="['/sb-press']" routerLinkActive="active-link">{{ 'navbar.sibiuPress' | translate }}</a>

            <div class="layout-menu-search ui-fluid" style="margin-left: 4%;">
                <p-autoComplete
                [(ngModel)]="searchedNews"
                (keyup.enter)="showNews()"
                [suggestions]="filteredNewsGroupSingle"
                (completeMethod)="filterNewsSingle($event)"
                [forceSelection]="true"
                field="name"
                [size]="35"
                placeholder="{{ 'navbar.search' | translate }}"
                [minLength]="1">
                </p-autoComplete>
            </div>


            <!--
            <a href="../../../assets/doc/news/Brassoi Magyar Újsag;bv;hu/1893/123;1893.00.00;1;Román-szász szövetség.pdf">awwwa</a>
            <a (click)="setLanguage('ro')" style="margin-left: 120px;">RO</a>
            <a (click)="setLanguage('hu')" >HU</a>
            <a (click)="setLanguage('de')" >DE</a>-->
      </ul>
    </div>
  </nav>