#home {
  overflow: hidden;
  width: 100%;
}
#banner{
  overflow: hidden;

  height: 100vh;
  width: 100vw;
}

#banner .bg{
  z-index: 0;
  filter: blur(5px) brightness(65%);
      -webkit-filter: blur(5px) brightness(65%);
      -moz-filter: blur(5px) brightness(65%);
      -o-filter: blur(5px) brightness(65%);
      -ms-filter: blur(5px) brightness(65%);
  margin: -11px;

  width: 100%;
  height: 105%;
}

#banner .wrapper {
  z-index: 10;
  position: absolute;

  width: 75%;

  top: 46%;
  left: 50%;
  transform: translate(-50%,-50%);/*move it halfway back(x,y)*/
}

#banner .description {
  float: left;
  line-height: 130%;
  height: 100%;
  width: 30%;

  font-size: 2.3vw;
  color: white;
  font-family: lexendDecaRegular, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#banner .title {
  float: right;

  white-space: nowrap;
  text-align: center;

  font-size: 3vw;
  color: white;
  font-family: TypewriterBold, Arial, Helvetica, sans-serif;
}

#banner .cards {
  padding-right: 0%;
  padding-top: 3.25%;
  height: auto;
  width: auto;

  float: right;
}

#banner .cards, #banner .title {
  padding-left: 4%;
  width: 70%;
}

#banner .item {
  margin: 0 20px;
} 

#banner .news {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}
#banner .news:hover {
  transform: scale(1.07);
}

#banner .news a {
  text-decoration: none !important;
}

#banner .news img {
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
  max-height: 13vw;
  max-width: 70%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 55px;
}

#about {
  width: 100%;
  padding: 55px 10%;
  background-color: #2B2B2B;
}
#about .datablock {
  display: inline-block;
  margin-bottom: 20px;
}
#about .datablock img {
  float: left;
  width: 15%;
  padding-top: 20px;
  padding-right: 30px;
}
#about .datablock .txt {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  float: right;
  width: 85%;
  color: white;
  line-height: 1.25;
}
#about .target {
  margin-top: 10px;
}
#about .activities {
  margin-top: 25px;
}
#about .datablock h2 {
  font-size: 1.8vw;
}
#about .datablock p {
  font-size: 1vw;
  margin-top: 20px;
}

.activities h2 {
  font-size: 1.8vw;
}
.activities p {
  font-size: 1vw;
  margin-top: 20px;
}

#team {
  width: 100%;
  padding: 55px 150px;
}

#team h2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#team .item {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

#team .item a {
  text-decoration: none;
}

#team .item img{
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#team .item img:hover {
  transform: scale(0.9);
}

#team .item h5 {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

  font-size: 1.10vw;
  white-space: nowrap;
  background-color: rgb(79, 54, 34) !important;

  padding: 6px 0;

  position: absolute;
  bottom: 6px;
  left: 5%;
  right: 5%;
}

#raports {
  text-align: center;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
}

#raports .h1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#raports .container {
  text-align: center;  
  margin-top: 35px;
  padding: 0 200px;
  width: 100%;
}

#raports .col {
  text-align: center;
}

#raports h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;

  margin-top: 10px;

  font-size: 1.35vw;
}

#raports img {
  margin: 0 auto;

  width: 60%;
  height: auto;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#raports img:hover {
  transform: scale(1.2);
}

#media {
  margin: 0;
  width: 100%;

  padding: 55px 150px;
}

#media .container {
  width: 100%;
  max-width: none !important;
  margin: 0;
}

#media .text {
  padding-top: 40px;
  text-align: center;
}

#media .text .row {
  padding-bottom: 30px;
}

#media a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.65vw;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#media a:hover {
  color: rgb(255, 187, 0) !important; 
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #about {
    padding-left: 8%;
    padding-right: 8%;
  }
  #about .datablock .txt {
    margin-top: 0px;
    width: 82.5%;
    line-height: 1.25;
  }
  #about .target {
    margin-top: 0px;
  }
  #about .activities {
    margin-top: 15px;
  }
  #about .datablock img {
    width: 17.5%;
    padding-top: 20px;
    padding-right: 30px;
  }
  #about .datablock p {
    font-size: 1.2vw;
  }
  @media screen and (min-width: 768px) and (max-width: 1000px)
  {
    #media {
      padding: 55px 100px;
    }
    #raports .container {
      padding: 0 100px;
    }
    #team {
      width: 100%;
      padding: 55px 75px;
    }
    #team .item h5 {
      font-size: 1.2vw;
    }
    #about .datablock img {
      padding-top: 60px;
    }
    #about .datablock h2 {
      font-size: 2.5vw;
    }
    #about .datablock p {
      font-size: 1.5vw;
    }
  }
}
@media screen and (min-width: 569px) and (max-width: 767px) {
  #media {
    padding: 35px 50px;
  }
  #media a {
    font-size: 2.25vw;
  }
  #raports .container {
    padding: 0 70px;
  }
  #raports h5 {
    font-size: 2.15vw;
  }
  #raports img {
    width: 75%;
  }
  #team {
    width: 100%;
    padding: 55px 60px;
  }
  #team h1 {
    margin-bottom: 35px;
  }
  #team .item h5 {
    font-size: 1.5vw;
  }
  #about {
    padding-left: 10%;
    padding-right: 10%;
  }
  #about .datablock .txt {
    margin: 0;
    width: 100%;
    line-height: 1.4;
  }
  #about .target {
    margin-top: 0px;
  }
  #about .activities {
    margin-top: 15px;
  }
  #about .datablock img {
    opacity: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
  #about .datablock h2 {
    text-align: center;
    font-size: 3.1vw;
    font-weight: bold;
  }
  #about .datablock p {
    font-size: 2vw;
  }

  #banner .wrapper {
    width: 80%;
    top: 38.5%;
    left: 50%;
  }
  #banner .cards img {
    min-height: 20vh;
    width: auto;
  }
  #banner .description {
    opacity: 0;
    width: 0;
    height: 0;
  }
  #banner .title {
    display: block;
    padding: 0;
    padding-bottom: 1.7vh;
    line-height: 1.2;
    width:  100%;
    height: auto;
    
    font-size: 6.2vw;
  }
  #banner .cards {
    display: block;
    padding: 0;
    width: 100%;
  }
  ::ng-deep .ui-card-title{
    font-size: 16px !important;
  }
  ::ng-deep .ui-card-subtitle{
    font-size: 10px !important;
  }
  ::ng-deep .ui-card-content{
    font-size: 12px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 568px) {
  #media {
    padding: 35px 25px;
  }
  #media a {
    font-size: 2.45vw;
  }
  @media screen and (min-width: 0px) and (max-width: 374px) {
    #media a {
      font-size: 3.2vw;
    } 
  }
  #media .col {
    padding: 0 7.5px;
  }
  #media .row {
    padding-bottom: 20px;
  }
  #raports .container {
    padding: 0 30px;
  }
  #raports h5 {
    font-size: 2.55vw;
  }
  #raports img {
    width: 80%;
  }
  #team {
    width: 100%;
    padding: 55px 35px;
  }
  @media screen and (min-width: 350px) and (max-width: 568px) {
    #team .item h5 {
      font-size: 2.2vw;
    }
  }
  @media screen and (min-width: 296px) and (max-width: 349px) {
    #team .item h5 {
      font-size: 5vw;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 295px) {
    #team .item h5 {
      font-size: 4.5vw;
    }
  }
  #about {
    padding-left: 10%;
    padding-right: 10%;
  }
  #about .datablock .txt {
    margin: 0;
    width: 100%;
    line-height: 1.4;
  }
  #about .target {
    margin-top: 0px;
  }
  #about .activities {
    margin-top: 15px;
  }
  #about .datablock img {
    opacity: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
  #about .datablock h2 {
    text-align: center;
    font-size: 3.5vw;
    font-weight: bold;
  }
  #about .datablock p {
    font-size: 2.8vw;
  }

  #banner .wrapper {
    width: 90%;
    top: 43%;
    left: 50%;
  }
  #banner .cards img {
    min-height: 15vh;
    width: auto;
  }
  #banner .description {
    opacity: 0;
    width: 0;
    height: 0;
  }
  #banner .title {
    display: block;
    padding: 0;
    padding-bottom: 3vh;
    line-height: 1.3;
    width:  100%;
    height: auto;
    
    font-size: 8.8vw;
  }
  #banner .cards {
    display: block;
    padding: 0;
    width: 100%;
  }
  ::ng-deep .ui-card-title{
    font-size: 16px !important;
  }
  ::ng-deep .ui-card-subtitle{
    font-size: 10px !important;
  }
  ::ng-deep .ui-card-content{
    font-size: 12px !important;
  }
}
