<section id="home">
        <app-navbar></app-navbar>

        <div class="grid-container">
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
        </div>
</section>
