<app-navbar></app-navbar>
<section id="home">
    <div id="banner">
        <img class="bg" src="../../../assets/images/books.jpg" alt="Background Books">

        <div class="text">
            <div class="description">{{ 'home.description.text' | translate}}</div>
            <div class="title">{{ 'home.description.title' | translate}}</div>
            <div class="cards">
                <!-- Displays all news with id <= 3 -->
                <div *ngFor="let item of newsGroup, index as i">
                    <div *ngIf="smallerThan3(i)" class="news">
                        <a href="{{item.href}}" >
                            <p-card header="{{item.name}}" subheader="{{item.publish_date}}"
                            [style]="{width: '100%', 'color':'white', 'background':'rgba(79,54,34,0.8)'}"
                            class="card-style" styleClass="ui-card-shadow">
                                <p-header>
                                    <img src="{{item.img}}">
                                </p-header>
                                <p>{{item.description}}</p>
                            </p-card>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="finance">
            <h3>{{ 'home.description.finance' | translate}}</h3>
            <img src="../../../assets/images/AFCN.jpg" alt="AFCN Logo">
        </div>
    </div>

    <div id="about">
        <h1 class="title" style="color:white;">{{ 'home.about.title' | translate}}</h1>
        
        <div class="data">
            <img src="../../../assets/images/data.png" alt="Project Data">
            <div class="txt">
                <h2>{{ 'home.about.data.title' | translate}}</h2>
                <p>{{ 'home.about.data.text' | translate}}</p>
            </div>
        </div>

        <div class="target">
            <img src="../../../assets/images/target.png" alt="Project Target">
            <div class="txt">
                <h2>{{ 'home.about.target.title' | translate}}</h2>
                <p>{{ 'home.about.target.text' | translate}}</p>
            </div>
        </div>

        <div class="activities">
            <img src="../../../assets/images/typewriter.png" alt="Activities">
            <div class="txt">
                <h2>{{ 'home.about.activities.title' | translate}}</h2>
                <p>{{ 'home.about.activities.text' | translate}}</p>
            </div>
        </div>
    </div>

    <div id="team">
        <h1 style="color:white;">{{ 'home.team.title' | translate}}</h1>


        <div style="text-align: center;" class="container">
            <div class="row">
                <a class="col" href="../../../assets/doc/cv/ambrus-attila.pdf">
                    <img src="../../../assets/images/team/ambrus-attila.jpg">
                    <h2>{{ 'home.team.ambrus-attila.name' | translate}}</h2>
                </a>
                <a class="col" href="../../../assets/doc/cv/mihaela-grancea.pdf">
                    <img src="../../../assets/images/team/mihaela-grancea.jpg">
                    <h2>{{ 'home.team.mihaela-grancea.name' | translate}}</h2>
                </a>
                <a class="col" href="../../../assets/doc/cv/molnar-stefania.pdf">
                    <img src="../../../assets/images/team/molnar-stefania.jpg">
                    <h2>{{ 'home.team.molnar-stefania.name' | translate}}</h2>
                </a>
            </div>
            <div class="row">
                <a class="col" href="../../../assets/doc/cv/cornel-maria.pdf">
                    <img src="../../../assets/images/team/cornel-maria.jpg">
                    <h2>{{ 'home.team.cornel-maria.name' | translate}}</h2>
                </a>
                <a class="col" href="../../../assets/doc/cv/molnar-csaba.pdf">
                    <img src="../../../assets/images/team/molnar-csaba.jpg">
                    <h2>{{ 'home.team.molnar-csaba.name' | translate}}</h2>
                </a>
                <a class="col" href="../../../assets/doc/cv/konya-ecaterina.pdf">
                    <img src="../../../assets/images/team/konya-ecaterina.jpg">
                    <h2>{{ 'home.team.konya-ecaterina.name' | translate}}</h2>
                </a>
            </div>
        </div>

    </div>
    
</section>
<app-footer></app-footer>
