#home {
  overflow: hidden;
  width: 100%;
}
#banner{
  overflow: hidden;

  height: 100vh;
  width: 100vw;
}

#banner .bg{
  z-index: 0;
  filter: blur(5px) brightness(65%);
      -webkit-filter: blur(5px) brightness(65%);
      -moz-filter: blur(5px) brightness(65%);
      -o-filter: blur(5px) brightness(65%);
      -ms-filter: blur(5px) brightness(65%);
  margin: -11px;

  width: 100%;
  height: 105%;
}

#banner .wrapper {
  z-index: 10;
  position: absolute;

  width: 75%;

  top: 46%;
  left: 50%;
  transform: translate(-50%,-50%);/*move it halfway back(x,y)*/
}

#banner .description {
  float: left;
  line-height: 130%;
  height: 100%;
  width: 30%;

  font-size: 2.3vw;
  color: white;
  font-family: lexendDecaRegular, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#banner .title {
  float: right;

  white-space: nowrap;
  text-align: center;

  font-size: 3vw;
  color: white;
  font-family: TypewriterBold, Arial, Helvetica, sans-serif;
}

#banner .cards {
  padding-right: 0%;
  padding-top: 3.25%;
  height: auto;
  width: auto;

  float: right;
}

#banner .cards, #banner .title {
  padding-left: 4%;
  width: 70%;
}

#banner .item {
  margin: 0 20px;
} 

#banner .news {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}
#banner .news:hover {
  transform: scale(1.07);
}

#banner .news a {
  text-decoration: none !important;
}

#banner .news img {
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
  max-height: 13vw;
  max-width: 95%;
}

#about {
  width: 100%;
  padding: 55px 150px;
  background-color: #2B2B2B;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 55px;
}

#about .data {
  display: inline-block;
  margin-bottom: 20px;
}

#about .data img {
  float: left;
  width: 15%;
  padding-top: 25px;
  padding-right: 30px;
}

#about .data .txt {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  float: right;
  width: 85%;
  color: white;
  line-height: 1.25;
}

.data h2 {
  font-size: 1.8vw;
}
.data p {
  font-size: 1vw;
  margin-top: 20px;
}

#about .target {
  display: inline-block;
  margin-bottom: 20px;
}

#about .target img {
  float: left;
  width: 15%;
  padding: 20px;
  padding-right: 50px;
  padding-top: 45px;
}

#about .target .txt {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  float: right;
  width: 85%;
  color: white;
  line-height: 1.25;
}

.target h2 {
  font-size: 1.8vw;
}
.target p {
  font-size: 1vw;
  margin-top: 20px;
}

#about .activities {
  display: inline-block;
}

#about .activities img {
  float: left;
  width: 15%;
  padding: 10px;
  padding-right: 40px;
  padding-top: 55px;
}

#about .activities .txt {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  float: right;
  width: 85%;
  color: white;
  line-height: 1.25;
}

.activities h2 {
  font-size: 1.8vw;
}
.activities p {
  font-size: 1vw;
  margin-top: 20px;
}

#team {
  width: 100%;
  padding: 55px 150px;
}

#team h2 {
  text-align: center;
}

#team .item {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

#team .item a {
  text-decoration: none;
}

#team .item img{
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#team .item img:hover {
  transform: scale(0.9);
}

#team .item h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;

  font-size: 1.25vw;
  white-space: nowrap;
  background-color: rgb(79, 54, 34) !important;

  padding: 6px 0;

  position: absolute;
  bottom: 6px;
  left: 15px;
  right: 15px;
}

#raports {
  text-align: center;
  padding: 0 200px;
  padding-top: 55px;
  padding-bottom: 30px;

  width: 100%;
}

#raports .container {
  text-align: center;  
}

#raports .col {
  text-align: center;
}

#raports h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;

  font-size: 1.35vw;
}

#raports img {
  margin: 0 auto;

  width: 60%;
  height: auto;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#raports img:hover {
  transform: scale(1.2);
}

#media {
  margin: 0;
  width: 100%;

  padding: 55px 150px;
}

#media .container {
  width: 100%;
  max-width: none !important;
  margin: 0;
}

#media .text {
  padding-top: 40px;
  text-align: center;
}

#media .text .row {
  padding-bottom: 30px;
}

#media a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.65vw;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#media a:hover {
  color: rgb(255, 187, 0) !important; 
}
