.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    margin: 0 auto;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .description {
    display: inline-block;
    margin-left: 17%;
    margin-right: 17%;
    width: 76%;
    height: auto;
  }

  .description .text{
    float: left;
    font-family: TypewriterBold;
    width: 60%;
    height: auto;
    text-align: left;
    color: black;
    font-size: 2rem;
  }

  .description .logo {
    float: right;
    margin-left: 8%;
    margin-right: 12%;
    max-width: 20%;
    padding-bottom: 15px;
  }

  .about {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .about .title{
    font-family: TypewriterBold;
    border-bottom: 3px solid currentColor;
    font-size: 2rem;
  }