<app-navbar></app-navbar>
<section id="home">

    <div class="description">
        {{ 'description' | translate }}
    </div>


        <div class="grid-container">
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
            <app-card class="grid-item"></app-card>
        </div>


</section>
