<app-navbar></app-navbar>
<section id="sibiu-press" style="background-color: white">
    <div style="width: 100%; height: 80px;"></div>

    <div class="grid-container">
        <div class="grid-item"><p-button class="btn" label="1900"></p-button></div>
        <div class="grid-item"><p-button class="btn" label="1910"></p-button></div>
        <div class="grid-item"><p-button class="btn" label="1920"></p-button></div>
        <div class="grid-item"><p-button class="btn" label="1930"></p-button></div>
        <div class="grid-item"><p-button class="btn" label="1940"></p-button></div>
        <div class="grid-item"><p-button class="btn" label="1950"></p-button></div>
        <div class="grid-item"><p-button class="btn" label="1960"></p-button></div>
        <div class="grid-item"><p-button class="btn" label="1970"></p-button></div>
        <div class="grid-item"><p-button class="btn" label="1980"></p-button></div>
        <div class="grid-item"><p-button class="btn" label="1990"></p-button></div>
    </div> 

</section>
<app-footer></app-footer>
