<!--<app-navbar></app-navbar>
<section id="sibiu-press" style="background-color: white">

    <div style="width: 100%; height: 150px"></div>

    <p-button label="Romana" ></p-button>
    <p-button label="Germana" ></p-button>

    <div style="width: 100%; height: 900px"></div>

</section>
<app-footer></app-footer>-->




<app-navbar></app-navbar>
<section id="sibiu-press" style="background-color: white">
    
    <div class="button-container">
        <div *ngFor="let year of years">
            <div class="button-item">
                <a [ngx-scroll-to]="'#' + year.str" [ngx-scroll-to-offset]="-70" >
                    <button class="btn" pButton type="button" label="{{year.str}}"></button>
                </a>
            </div>
        </div>
    </div>

    <div *ngFor="let year of years, index as i">
        <h1 id="{{year.str}}">{{year.str}}</h1>
        <div class="card-container">
            <div *ngFor="let item of newsGroup">
                <div *ngIf="isInYearsIndex(item, i)">
                    <app-card class="card-item" [newsElement]='item'></app-card>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 100%; height: 80px;"></div>
    
</section>
<app-footer></app-footer>
