<app-navbar></app-navbar>

<div class="bg"></div>
<section id="bv-press">

    <div class="container">
        <div class="row">
            <div class="col">
                <p-button class="button" label="{{ 'press.romanian' | translate}}"></p-button>
            </div>
            <div class="col">
                <p-button class="button" label="{{ 'press.hungarian' | translate}}"></p-button>
            </div>
            <div class="col">
                <p-button class="button" label="{{ 'press.german' | translate}}"></p-button>
            </div>
        </div>
    </div>

    <div class="finance">
        <h3>{{ 'home.description.finance' | translate}}</h3>
        <img src="../../../assets/images/AFCN.jpg" alt="AFCN Logo">
    </div>

</section>
