/* You can add global styles to this file, and also import other style files */

/* Most used fonts */
/* font-family: enchantedLand, arialBlack; */

/*Fonts*/
@font-face {
    font-family: enchantedLand;
    src: url(assets/fonts/Enchanted-Land.otf) format("opentype");
 }
@font-face {
   font-family: Typewriter;
   src: url(assets/fonts/JMH-Typewriter.ttf) format("truetype");
 }
 @font-face {
  font-family: TypewriterBlack;
  src: url(assets/fonts/JMH-Typewriter-Black.ttf) format("truetype");
}
@font-face {
  font-family: TypewriterBold;
  src: url(assets/fonts/JMH-Typewriter-Bold.ttf) format("truetype");
}
@font-face {
  font-family: TypewriterThin;
  src: url(assets/fonts/JMH-Typewriter-Thin.ttf) format("truetype");
}
@font-face {
  font-family: arialBlack;
  src: url(assets/fonts/Arial-Black.ttf) format("truetype");
}
@font-face {
  font-family: lexendDecaRegular;
  src: url(assets/fonts/LexendDecaRegular.ttf) format("truetype");
}

/*Smooth scrolling*/
/*Non-Compatible with explorer,edge and safari*/
/*UPDATE: Not used, however left in for safety*/
html {
    scroll-behavior: smooth;
  }
  
  /*edge and explorer white-line bugfix*/
  body {
    margin: 0;
    line-height: 1;
    background-color: #2B2B2B;
  }

  a {
    text-decoration: none !important;
  }
  a:focus {
    outline:0 !important;
  }

/*Used  on more than one page CSS-es*/
  .finance .icon {
    z-index: 15;
    position: absolute;
  
    bottom: 5%;
    right: 2.5%;
  }
  
  .finance .icon img {
    float: right;
    width: 9vw;
  }

  .finance p {
    position: absolute;
    bottom: 1.5%;
    right: 2%;
    left: 2%;
    width: 96%;

    white-space: nowrap;
    text-align: center;
    color: whitesmoke;
    font-size: 0.76vw;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .sponsors {
    z-index: 15;
    position: absolute;
  
    bottom: 5.2%;
    left: 2.5%;
  }

  .sponsors img {
    float: right;
    width: 13vw;
  }

  @media screen and (min-width: 1001px) and (max-width: 1200px) {
    .finance p {
      font-size: 0.85vw;
      white-space: normal;
      bottom: 2%;
    }
    .sponsors {
      bottom: 8%;
    }
    .finance .icon {
      bottom: 7%;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1000px) {
    .finance p {
      font-size: 1vw;
      white-space: normal;
      bottom: 2%;
    }
    .sponsors {
      bottom: 8%;
    }
    .finance .icon {
      bottom: 7%;
    }
  }
  @media screen and (min-width: 569px) and (max-width: 768px) {
    .sponsors {
      bottom: 12%;
      left: 18%;
    }
    .sponsors img {
      width: 27vw;
    }
    .finance .icon {
      bottom: 9.3%;
      right: 18%;
    }
    .finance .icon img {
      width: 16.5vw;
    }
    .finance p {
      white-space: normal;
      font-size: 1.9vw;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 568px) {
    .sponsors {
      bottom: 14.5%;
      left: 18%;
    }
    .sponsors img {
      width: 32vw;
    }
    .finance .icon {
      bottom: 11.3%;
      right: 18%;
    }
    .finance .icon img {
      width: 20vw;
    }
    .finance p {
      white-space: normal;
      font-size: 2.3vw;
    }
  }
