/* You can add global styles to this file, and also import other style files */

/* Most used fonts */
/* font-family: enchantedLand, arialBlack; */

/*Fonts*/
@font-face {
    font-family: enchantedLand;
    src: url(assets/fonts/Enchanted-Land.otf) format("opentype");
 }
@font-face {
   font-family: Typewriter;
   src: url(assets/fonts/JMH-Typewriter.ttf) format("truetype");
 }
 @font-face {
  font-family: TypewriterBlack;
  src: url(assets/fonts/JMH-Typewriter-Black.ttf) format("truetype");
}
@font-face {
  font-family: TypewriterBold;
  src: url(assets/fonts/JMH-Typewriter-Bold.ttf) format("truetype");
}
@font-face {
  font-family: TypewriterThin;
  src: url(assets/fonts/JMH-Typewriter-Thin.ttf) format("truetype");
}

/*Smooth scrolling*/
/*Non-Compatible with explorer,edge and safari*/
/*UPDATE: Not used, however left in for safety*/
html {
    scroll-behavior: smooth;
  }
  
  /*edge and explorer white-line bugfix*/
  body {
    margin: 0;
    line-height: 1;
    background-color: white; /*rgb(255,255,224)*/
  }